body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Redressed', cursive;
font-family: 'Roboto Slab', serif;
    margin: 0%;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
.bg-img{
    width: 100%;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.top-banner p{
    margin-bottom: 20px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(orange,salmon);
    border-radius: 8px;
    
}
.orange{
    color: orange;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p{
    margin-bottom: 20px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.flexible-container{
    display: flex;
}
.experience-item{
    padding: 3%;
    box-shadow: 10px 10px 40px gray;
}
#experience-full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(orange,salmon);
    border-image-slice: 1;
}
#experience-baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
.footer p{
    text-align: center;
    justify-content: end;
}